.content-left{
    /*position: relative;*/
    display: flex;
    flex-direction: column;
}
.content-right{
    padding-left: 23px;
    /*overflow-y: auto;*/
    display: flex;
    flex-direction: column;
}
.attivita-wrapper{
    height: 100%;
}
.option-bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    /*
    position: sticky !important;
    left: 0;
    right: 0;
    */
}
.table-wrapper{
    /*position: absolute;
    top: 60px;
    bottom: 15px;*/
    flex: 1;
    position: relative;
}
.table-inner{
    /*height: 100%;*/
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
:host>>> .ui-table, 
:host>>> .ui-table-scrollable-wrapper,
:host>>> .ui-table-scrollable-view{
    height: 100%;
}
:host>>> .ui-table-scrollable-view{
    display: flex;
    flex-direction: column;
}
:host>>> .ui-table-scrollable-body{
    flex: 1;
}
.preview-wrapper{
    flex: 1;
    position: relative;
}
.pr-8{
   padding-right: 8px; 
}
.preview-inner{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}
.ul-info-doc{
    list-style: none;
}
.li-description{
    font-weight: bold;
}

.div-info-doc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.span-info-doc {
    margin-left: 30px;
}

.width100x100 {
    width: 100% !important;
} 

.mt16 {
    margin-top: 16px;
}

.ui-fluid .ui-dropdown {
    width: 600px !important;
}

.no-anteprima {
    font-weight: bold;
    text-align: center;
}

.text-centered {
    text-align: center;
}
.clMenu {
    /* display: flex; */
    font-weight: bold;
    padding: 4px 8px;
}
.clMenu:enabled{
    background-color: #993366 !important; /* #909090  #848484*/
    border-color: #d4d4d4 !important;
}
.clMenu:hover{
    background-color: #737272 !important; /* #737272 */
    border-color: #d4d4d4 !important;
}
.clMenu > img {
    float: left;
}
:host>>>.clMenu > span {
    padding: 0 0 0 8px !important;
    margin: 2px 0;
    float: right;
}
:host>>>.ui-tieredmenu {
    background-color:#f5f5f5;
}
:host>>>.ui-tieredmenu .ui-submenu-list{
    background-color:#f5f5f5;
}
.position-relative{
    position: relative;
}
.slider{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 15px;
    cursor: w-resize;
    text-align: center;
}
.slider > div{
    border: dotted 1px grey;
    width: 3px;
    border-top: none;
    border-bottom: none;
    height: 100%;
    display: inline-block;
}
.p-right-0{
    padding-right: 0;
}
.p-left-0{
    padding-left: 0;
}
:host>>>.clMenu{
    top: auto !important;
}