<div class="p-grid "> <!--p-nogutter-->
    
  <!-- Left side -->
  <div class="p-col-8 content-left">
      <div class="option-bar">
            <p-dropdown placeholder="Apri:" [options]="finestreApribili" [(ngModel)]="finestraScelta" optionLabel="value"></p-dropdown>
            <div>
                <span class="pr-8">Filtro rapido:</span>
                <p-dropdown [options]="filtriApribili" [(ngModel)]="filtroScelto" optionLabel="value"></p-dropdown>
            </div>
      </div>
      <app-tabella-attivita (attivitaEmitter)="attivitaClicked($event)"></app-tabella-attivita>
  </div>

  <!-- Right side -->
  <div class="p-col-4 content-right">
    <div class="div-info-doc">
        <!-- <span>{{documento.tipo}}{{documento.numero}} - {{documento.oggetto}}</span><span class="span-info-doc">{{documento.protocollatoIl}}</span> -->
        {{oggetto}}
    </div>
    <p-accordion>
      <p-accordionTab [header]="mittente">
          <ul class="ul-info-doc">
              <li><span class="li-description">DA: </span><span class="li-content">{{mittente}}</span></li>
              <li><span class="li-description">A:  </span><span class="li-content">{{destinatari}}</span></li>
              <li><span class="li-description">CC: </span><span class="li-content">{{destinatariCC}}</span></li>
          </ul>
      </p-accordionTab>
    </p-accordion>
    <p-dropdown #allegatiDropDown styleClass="width100x100 mt16" [options]="allegati" (onChange)="allegatoSelected($event)"></p-dropdown>
    <div>
        <p-button label="Click" (onClick)="fullscreen($event)"></p-button>
    <p-panel> 
        <iframe #anteprima id="anteprima" width="100%" height="600px" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen >
        </iframe>
    </p-panel>
</div>
  <!-- <div>
    <p-lightbox type="content">
            <a class="group" href="#">
                Watch Video
            </a>
            <iframe width="560" height="315" src="https://gdml.internal.ausl.bologna.it/Babel/temp/pdfPreview/80E5BC2C-5E92-FF20-B4FB-7A6B3A59F13F_da_convertire_swf_.pdf" frameborder="0" allowfullscreen></iframe>
        </p-lightbox>
    </div> -->
    </div>
</div>
