.content-left{
    padding-right: 8px;
}
.content-right{
    padding-left: 8px;
}
.option-bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.pr-8{
   padding-right: 8px; 
}
.ul-info-doc{
    list-style: none;
}
.li-description{
    font-weight: bold;
}

.div-info-doc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.span-info-doc {
    margin-left: 30px;
}

.width100x100 {
    width: 100% !important;
} 

.mt16 {
    margin-top: 16px;
}

.ui-fluid .ui-dropdown {
    width: 600px !important;
}

.no-anteprima {
    font-weight: bold;
    text-align: center;
}

.text-centered {
    text-align: center;
}