<div class="p-grid attivita-wrapper position-relative">
    <!-- Left side -->
    <div class="p-col content-left" #leftSide>
    <div class="option-bar">
        <div class="buttons-bar">

            <bds-menu *ngIf="menuItems" [items]="menuItems" [executeAction]="openMenuUrl"></bds-menu>
            <span style="margin-right: 0.6rem;"> </span>
<!-- 
            <button [ngClass]="mostraStorico?'d-hidden':'d-flex'" #btn type="button" pButton (click)="menu.toggle($event)" class="clMenu" iconPos="left" label="Apri">
                <img src="assets/images/baseline_dashboard_white_48dp.png"  alt="menu applicazioni">
            </button>
            <p-tieredMenu #menu [model]="alberoMenu" [popup]="true" class="clMenuPosition" (itemClick)="handleItemClick($event, null)" role="menu" aria-label="lista con le applicazioni"></p-tieredMenu> -->

            <!-- Firma -->
            <button 
                type="button" 
                pButton 
                pTooltip="Firma" 
                tooltipPosition="bottom" 
                [ngClass]="{'ui-button-secondary icon-custom': true, 'pr-8':true, 'd-hidden': mostraStorico || urlFirmone === '#', 'd-flex': !mostraStorico}" 
                class="p-button-icon-only" 
                (click)="handleItemClick(urlFirmone.url, urlFirmone.urlGenerationStrategy)" 
                aria-label="Firma">
                <img src="assets/images/sign.svg" class="images-pos" alt="Firma">
            </button>

            <button 
                #btn 
                type="button" 
                pButton 
                pTooltip="Firma" 
                tooltipPosition="bottom" 
                [ngClass]="{'d-hidden': mostraStorico || alberoFirma.length < 2, 'd-flex': !mostraStorico}" 
                class="ui-button-secondary icon-custom p-button-icon-only" 
                (click)="firmaMenu.toggle($event)" 
                aria-label="Firma">
                <img src="assets/images/sign.svg"  class="images-pos"  alt="Firma">
            </button>
            <p-tieredMenu 
                appendTo="body"
                #firmaMenu 
                [model]="alberoFirma" 
                [popup]="true" 
                (itemClick)="handleItemClick($event, null)">
            </p-tieredMenu>

            <!-- Prendi -->
            <button type="button" pButton pTooltip="Prendi i tuoi assegnamenti" tooltipPosition="bottom" [ngClass]="{'ui-button-secondary icon-custom': true, 'pr-8':true, 'd-hidden': mostraStorico || urlPrendone === '#', 'd-flex': !mostraStorico}" class="p-button-icon-only" (click)="handleItemClick(urlPrendone.url, urlPrendone.urlGenerationStrategy)" aria-label="Prendi il documento">
                <img src="assets/images/hiring.svg" class="images-pos"  alt="Prendi">
            </button>
            <button #btn type="button" pButton pTooltip="Prendi i tuoi assegnamenti" tooltipPosition="bottom" [ngClass]="{'d-hidden': mostraStorico || alberoPrendi.length < 2, 'd-flex': !mostraStorico}" class="ui-button-secondary icon-custom p-button-icon-only" (click)="prendoneMenu.toggle($event)"aria-label="Prendi il documento">
                <img src="assets/images/hiring.svg" class="images-pos" alt="Prendi">
            </button>
            <p-tieredMenu 
                appendTo="body"
                #prendoneMenu 
                [model]="alberoPrendi" 
                [popup]="true"
                (itemClick)="handleItemClick($event, null)">
            </p-tieredMenu>
            <button #btn *ngIf="showRaccoltaSemplice"
                type="button"
                pButton 
                pTooltip="Vai alla Raccolta Semplice" 
                tooltipPosition="bottom" 
                [routerLink]="'/raccoltasemplice'"
                iconPos="left" 
                icon="pi pi-briefcase" 
                class="ui-button-secondary icon-style  icon-custom" 
                aria-label="Vai alla Raccolta Semplice">
            </button>
            <button #btn *ngIf="!mostraStorico && loggedUser?.isCA() && showBolli" 
                type="button"
                pButton 
                pTooltip="Vai al riepilogo Bollo Virtuale" 
                tooltipPosition="bottom" 
                [routerLink]="'/bollo'"
                iconPos="left" 
                icon="pi pi-money-bill" 
                class="ui-button-secondary icon-style  icon-custom" 
                aria-label="Vai al riepilogo Bolli Virtuali">
            </button>
            <div class="separator-class"></div>
            <!-- Cronologia, Aggiorna, Elimina notifiche -->
            <button *ngIf="mostraStorico" type="button" pButton pTooltip="Indietro" tooltipPosition="bottom" icon="pi pi-chevron-left" iconPos="left" (click)="mostraStorico=!mostraStorico" class="ui-button-secondary icon-style  icon-custom" aria-label="Indietro">
            </button>
            <button #btn type="button" pButton pTooltip="Aggiorna attività" tooltipPosition="bottom" (click)="ricarica()" iconPos="left" icon="pi pi-refresh" class="ui-button-secondary icon-style  icon-custom" aria-label="Aggiorna le attività">
            </button>
            <button *ngIf="!mostraStorico" type="button" pButton pTooltip="Cronologia" tooltipPosition="bottom" icon="pi pi-clock" iconPos="left" (click)="mostraStorico=!mostraStorico" class="ui-button-secondary icon-style icon-custom" aria-label="Cronologia delle attività">
            </button>
            <button #btn *ngIf="!mostraStorico" type="button" pButton pTooltip="Elimina notifiche" tooltipPosition="bottom" (click)="delNotifiche()" iconPos="left" icon="pi pi-trash" class="ui-button-secondary icon-style icon-custom" aria-label="Elimina notifiche">
            </button>
            <h3 *ngIf="mostraStorico" class="crono-label">Cronologia</h3>
        </div>

        <app-dropdown-aziende 
            *ngIf="(( (!!this.loggedUser?.getUtente().utenteReale || this.loggedUser?.isSD() ) && this.loggedUser?.getUtente().aziende.length > 1) || (!!!this.loggedUser?.getUtente().utenteReale && this.loggedUser?.getUtente().aziendeAttive.length > 1) )" 
            (aziendaEmitter)="aziendaChanged($event)" 
            aria-label="Ente delle attività">
        </app-dropdown-aziende>
    </div>
    <div class="table-wrapper">
        <div class="table-inner">
            <app-attivita *ngIf="!mostraStorico"  (attivitaEmitter)="attivitaClicked($event)" [refresh]="tabellaDaRefreshare"
            (onAttivitaNoteEmitter)="onNoteClick($event)" [idAzienda]="idAzienda"  (refreshAttivita)="ricarica()" [changeColOrder]="changeColOrder"></app-attivita>
            <app-attivita-fatte *ngIf="mostraStorico" (onAttivitaNoteEmitter)="onNoteClick($event)" [idAzienda]="idAzienda" [refresh]="tabellaDaRefreshare"></app-attivita-fatte>
        </div>
    </div>

    </div>

    <div class="p-offset-7 d-inline-block slider" [ngClass]="mostraStorico || hidePreview ? 'd-hidden' : 'd-flex'" #slider><div></div></div>

    <!-- Right side -->
    <div class="p-md-5 p-sm-12 content-right" [ngClass]="mostraStorico || hidePreview ? 'd-hidden' : 'd-flex'" #rightSide>

    <div tabindex="0" aria-label="Anteprima del documento" class="info-doc-wrapper">
        <div *ngIf="oggetto" class="div-info-doc" tabindex="0" attr.aria-label="documento oggetto {{oggetto}}">
            <strong >{{oggetto}}</strong>
        </div>
        <div *ngIf="!oggetto" class="div-info-doc">
            <strong>Nessuna attivita selezionata.</strong>
        </div>
        <p-accordion [multiple]="true" #accordionDetail>
            <p-accordionTab header="Dettagli documento" aria-controls="sect1">
                <div *ngIf="mittente || destinatari || destinatariCC" id="sect1">
                    <ul class="ul-info-doc">
                        <li tabindex="0" *ngIf="mittente"><span class="li-description">Da: </span><span class="li-content">{{mittente}}</span></li>
                        <li tabindex="0" *ngIf="destinatari"><span class="li-content" [innerHTML]="destinatari"></span></li>
                        <li tabindex="0" *ngIf="destinatariCC"><span class="li-content" [innerHTML]="destinatariCC"></span></li>
                    </ul>
                </div>
                <div *ngIf="!(mittente || destinatari || destinatariCC)" class="text-centered">
                    Non sono presenti dettagli da visualizzare.
                </div>
            </p-accordionTab>
            <p-accordionTab [selected]="datiDiFlusso" header="Dati di flusso" aria-controls="sect2">
                <div *ngIf="datiDiFlusso" id="sect2">
                    <ul class="ul-info-doc">
                        <li><span pTooltip="{{datiFlussoTooltip}}" [innerHTML]="datiDiFlusso" class="li-content"></span></li>
                    </ul>
                </div>
                <div *ngIf="!datiDiFlusso" class="text-centered">
                    Non sono presenti dati di flusso da visualizzare.
                </div>
            </p-accordionTab>
        </p-accordion>
        <div class="allegati-dropdown">
            <p-dropdown #allegatiDropDown [options]="allegati" (onChange)="allegatoSelected($event)"></p-dropdown>
            <img *ngIf="!noAnteprima" src="assets/images/fullscreen-symbol.svg" (click)="fullscreen($event)" alt="fullscreen"/>
        </div>
    </div>
    <div class="d-flex flex-grow-1">
        <div class="preview-inner">
            <div [ngClass]="{'overlap-div' : sliding}"></div>
            <iframe *ngIf="!noAnteprima" #anteprima id="anteprima" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen >
            </iframe>
            <div *ngIf="noAnteprima" class="no-anteprima">L'anteprima non è disponibile per questo tipo di attività.</div>
        </div>
    </div>
    </div>
</div>

<p-dialog header="Note Attività" [(visible)]="this.showNote" [modal]="true" [responsive]="true"  [minY]="70"
        [maximizable]="true" [baseZIndex]="10000">
        {{ this.noteText }}
</p-dialog><!-- [width]="350" [minWidth]="200" -->
<p-dialog header="Compatibilità Browser" [(visible)]="browserObsolete" [modal]="true" [responsive]="true"  styleClass="dialog-avviso-browser-obsoleto"
     [baseZIndex]="10000">
        <div class="testo">
        <b>ATTENZIONE!</b>
        <br>
        {{this.browserMessageObsolete}}
        </div>
</p-dialog>
<p-confirmDialog id="dialog" [style]="{width: '30vw'}"></p-confirmDialog>
