<p-table stripedRows
  #dt
  [lazy]="true"
  (onLazyLoad)="handleEvent('onLazyLoad', $event)"
  [value]="attivitaFatte"
  [columns]="cols"
  [paginator]="true"
  [rows]="_rows"
  [totalRecords]="totalRecords"
  selectionMode="single"
  (onRowSelect)="handleEvent('onRowSelect', $event)"
  [scrollable]="true"
  scrollHeight="flex"
  [loading]="loading"
  (keydown.arrowdown)="onKeydownHandlerArrowDown($event)"
  (keydown.arrowup)="onKeydownHandlerArrowUp($event)"
  ><!--  -->
  <ng-template
    pTemplate="header"
    let-columns
  >
    <tr>
      <th
        *ngFor="let col of columns"
        [style.maxWidth]="col.width"
        [style.minWidth]="col.minWidth"
        [style.padding]="col.padding"
        [pSortableColumn]="col.field === 'azione' ? null : col.field"
        attr.aria-label="Colonna {{ col.label }}, {{ col.header ? 'Ordinare colonna' : '' }}"
      >
        {{ col.header }}
        <p-sortIcon
          [field]="col.field"
          *ngIf="col.field != undefined && col.field !== 'azione'"
          attr.aria-label="Ordinare colonna {{ col.label }}"
          arialabelasc="Ordinamento ascendente"
          arialabeldesc="Ordinamento discendente"
        >
          <!-- ariaLabelAsc="Colonna {{col.header}}, Ordinamento ascendente" ariaLabelDesc="Colonna {{col.header}}, Ordinamento discendente" -->
        </p-sortIcon>
      </th>
    </tr>
    <tr>
      <th
        *ngFor="let col of columns"
        [ngSwitch]="col.filterWidget"
        [style.minWidth]="col.minWidth"
        [style.maxWidth]="col.width"
        [style.display]="col.display"
      >
        <div
          *ngIf="col.field != undefined && col.field !== 'priorita' && col.field !== 'azione'"
          style="width: 100%"
        >
          <p-datepicker
            #calGen
            *ngSwitchCase="'Calendar'"
            [(ngModel)]="dataRange[col.field]"
            placeholder="Scegli..."
            [showButtonBar]="true"
            
            [showIcon]="false"
            dateFormat="dd/mm/yy"
            (onSelect)="onCalendarAction($event, col.field, 'select')"
            (onClearClick)="onCalendarAction($event, col.field, 'clear')"
            (onTodayClick)="onCalendarAction($event, col.field, 'today')"
            appendTo="body"
            selectionMode="range"
            [readonlyInput]="true"
            [pTooltip]="calendarTooltip(col.field)"
            inputId="CalInput_{{ col.field }}"
          >
          </p-datepicker>
          <input
            *ngSwitchDefault
            pInputText
            attr.aria-label="Cella filtro per Colonna {{ col.label }}"
            type="text"
            (input)="dt.filter($event.target['value'].trim(), col.field, col.filterMatchMode)"
            style="width: 100%"
            #filterInputText
          />
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-rowData
    let-attivita
    let-columns="columns"
  >
    <tr
      #selRow
      class="row-class"
      [pSelectableRow]="rowData"
      aria-label="riga"
    >
      <td
        *ngFor="let col of columns"
        [style.maxWidth]="col.width"
        [style.minWidth]="col.minWidth"
        [style.padding]="col.padding"
        [ngClass]="{
          'column-class': !!col.field && col.field !== 'priorita' && col.field !== 'azione',
          'column-class p0': col.field === 'priorita',
          'colonna-azione': col.field === 'azione',
          'p0': col.field === 'azione' || col.label === 'note',
          disabled: col.field === 'azione' && isAzioneDisabled(attivita.id)
        }"
        attr.aria-label="Colonna {{ col.header || col.label }}"
      >
        <ng-container [ngSwitch]="col.field || col.label">
          <ng-container *ngSwitchCase="'priorita'">
            <img
              [src]="attivita.iconaAttivita"
              alt="{{ attivita.tipo === 'notifica' || attivita.tipo === 'riepilogo' ? 'icona notifica' : 'icona priorità' }}"
              class="img-table"
            />
          </ng-container>

          <ng-container *ngSwitchCase="'idAzienda.nome'">
            {{ attivita.idAzienda.nome }}
          </ng-container>

          <ng-container *ngSwitchCase="'idApplicazione.nome'">
            {{ attivita.idApplicazione.nome }}
          </ng-container>

          <ng-container *ngSwitchCase="'provenienza'">
            {{ attivita.provenienza }}
          </ng-container>

          <ng-container *ngSwitchCase="'oggetto'">
            {{ attivita.oggetto }}
          </ng-container>

          <ng-container *ngSwitchCase="'dataInserimentoRiga'">
            {{ attivita.dataInserimentoRiga | date: "dd/MM/yyyy" }}
          </ng-container>

          <ng-container *ngSwitchCase="'descrizione'">
            {{ attivita.descrizione }}
          </ng-container>

          <ng-container *ngSwitchCase="'azione'">
            @if (canShowAzione(attivita) && hasAzioneUrl(attivita)) {
              <a
                style="color: #993366; cursor: pointer"
                role="button"
                tabindex="0"
                aria-label="Apri azione"
                (mousedown)="onAzioneMouseDown(attivita, $event)"
              >
                <strong>{{ getAzioneLabel(attivita) }}</strong>
              </a>
            }
          </ng-container>

          <ng-container *ngSwitchCase="'note'">
            <img
              tabindex="0"
              role="button"
              *ngIf="attivita.note"
              src="assets/images/baseline-note-24px.svg"
              style="transform: rotate(90deg) scaleX(-1)"
              (click)="onNoteClick(attivita)"
              alt="l'attività ha delle note"
              class="img-table"
            />
            <!-- <img *ngIf="!attivita.note" src="assets/images/outline-note_add-.svg" (click)="onNoteClick(attivita)" alt="note" class="img-table"> -->
          </ng-container>
        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-toast key="attivitaToast"></p-toast>
