.header-left-style{
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 64px;
    padding-left: 30px;
}
.height64 {
    height: 64px;
}
.title-header {
    padding-left: 20px;
}
.logo {
    margin-top: 9px;
    height: 54px;
}
.center-vertically {
    display: flex;
    
    align-items: center;
}
.width100x100 {
    width: 100%;
}
.icons-style{
    width: 25px;
    height: 25px;
}

.icons-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.pr-8{
    margin-right: 16px;
}

.dim-box-image-signout{
    width: 25px;
    height: 25px;
}

.btn, .toggle, .logout {
    cursor: pointer;
}

.box-nome-cognome {
    font-weight: bold;
    color: white;
}

.padding-top-12 {
    padding-top: 12px;
}

.pi-icon-style {
    font-size: 2em; 
    color: white;
}


 .titolo-popup{
    background-color: #993366;
    color: white;
 } 

 :host>>>.overlaypanel-background .ui-overlaypanel-content{
     /* background-color: greenyellow; */
     background-color: whitesmoke;
     padding: 7px !important;
 }

.ul-user-information {
    list-style: none;
    padding-left: 2px;
    margin: 1px;
}

.li-user-information{
    margin-top: 10px;
}
