<div class="first-row">
  <span class="ui-float-label">
    <input pInputText type="text" formControlName="descrizione" />
    <label for="float-input">Descrizione del gruppo</label>
  </span>
  <div class="submit">
    <button type="button" (click)="onCancel()">Annulla</button>
  </div>
  <div class="submit">
    <button type="submit" 
      [disabled]="groupForm.invalid" 
      [ngClass]="groupForm.invalid ? 'disabled' : ''">Salva</button>
  </div>
</div>

<h3 class="crono-label">
  
  <button type="button" pButton pTooltip="Torna alla Raccolta Semplice" tooltipPosition="bottom"
  icon="pi pi-table" [routerLink]="'/raccoltasemplice'" class="ui-button-secondary icon-style"
  aria-label="Caricamento manuale documento" style="height:20px;width:20px"></button>
  Inserimento manuale Raccolta Semplice
</h3>

<body>
    <strong>Dati</strong>
    <form action="/upload">
        <label for="name">Nome</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="applicazione">Applicazione:</label>
        <input type="text" id="applicazione" name="applicazione"><br><br>
        <label for="tipo_doc">Tipo Documento:</label>
        <input type="text" id="tipo_doc" name="tipo_doc"><br><br>
      </form>
      <p></p>


      <form method="post" name="uploadform" enctype="multipart/form-data">
      </form>

      <input type="file" id="upfiles" name="upfiles">

      <script>

        document.getElementById('upfiles').addEventListener('change', handle_files, false);
      
        function handle_files(evt) {
      
          var ff = document.forms['uploadform'];
          var files  = evt.target.files;
      
          for ( var i = 0, file; file = files[i]; i++ ) {
      
            var reader = new FileReader();
      
            reader.onload = (function(file) {
              return function (ufile) {
                var upp = document.createElement('input');
                upp['name'] = ufile.files.name;
                upp['type'] =  ufile.files.type;
                upp.value = ufile.target.result;
                ff.appendChild(upp);
              }
            }(file));
      
            reader.readAsDataURL(file);
          }
        }
      </script>


      <br>
      <br>

        <strong>Collega documento Babel</strong>
        <br><br>
        <div>
            <form action="loadAutocomplete()">
            <label for="registro">Seleziona il codice registro:</label>
            <select id="registri" name="registri">
              <option value="PG">PG</option>
              <option value="PICO">PICO</option>
              <option value="DETE">DETE</option>
              <option value="DELI">DELI</option>
            </select>
            <br>
            <br>
            <div class="autocomplete" style="width:300px;">
              <input id="documento" type="text" name="documento" placeholder="Numerazione">
            </div>
            <input type="submit">
          </form>
        </div>
      

        <p-fileUpload #fileUpload
          name="demo[]" 
          accept=".rtf, .odp, .ods, .odt, .xhtml,
           .xml, .dtd, .xlst, .gif,
          .jpg, .png, .tiff, .dwg,
          .bmp, .eml, .p7m, .html, .mp3,
          .odb, .mdb, .avi, .mp4, .wav,
          .msg, .opus, .ogg, .m4a,
          .fdf, .csv, .doc, .docx,
          .xls, .xlsx, .ppt,
          .pptx, .pdf, .txt" 
          (uploadHandler)="onUpload($event)"
          multiple = true
          maxFileSize=1000000
          chooseLabel="Sfoglia"
          uploadLabel="Carica"
          cancelLabel="Cancella">
        </p-fileUpload>
        <p-table
          [value]="_doc?.allegati" 
          selectionMode="single" 
          [(selection)]="selectedAllegato" 
          dataKey="id"
          (onRowSelect)="onRowSelect($event)"
          (onRowUnselect)="onRowUnselect()">
          <ng-template pTemplate="caption" >
            <p-button 
              *ngIf="_doc?.allegati && _doc?.allegati.length > 1"
              label="Scarica allegati su zip"
              icon="pi pi-download" 
              (click)="downloadAllAttachments()">
            </p-button>
          </ng-template>
          <ng-template pTemplate="header">
            <tr class="row">
              <th class="colonna-principale"></th>
              <th class="colonna-nome">Nome</th>
              <th class="colonna-estensione">Estensione</th>
              <th class="colonna-download"></th>
              <th class="colonna-elimina"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-allegato let-rowIndex="rowIndex">
            <tr class="row">
              <td class="colonna-principale">
                <p-tableRadioButton 
                  [value]="allegato" 
                  ariaLabel="Setta l'allegato come principale">
                </p-tableRadioButton>
              </td>
              <td class="colonna-nome">{{getDettaglioByTipoDettaglioAllegato(allegato,"ORIGINALE").nome}}</td>
              <td class="colonna-estensione">{{getDettaglioByTipoDettaglioAllegato(allegato,"ORIGINALE").estensione}}</td>
              <td class="colonna-download">
                <i class="pi pi-download bds-icon-btn"
                  ariaLabel="Download allegato"
                  pTooltip="Download" 
                  tooltipPosition="top"
                  (click)="onDownloadAttachment(allegato)">
                </i>
              </td>
              <td class="colonna-elimina">
                <i class="material-icons-outlined bds-icon-btn"
                  ariaLabel="Elimina allegato"
                  pTooltip="Elimina" 
                  tooltipPosition="top" 
                  (click)="onDeleteAttachment(allegato, rowIndex)">
                  Cancella
                </i>
              </td>
            </tr>
          </ng-template>
        </p-table>
</body>
