<section>
  <form #form="ngForm">
    <div>
      <ul class="settings-items">
        <li>
          Nascondi anteprima
          <p-inputSwitch [(ngModel)]="model.hidePreview" styleClass="switch-class" name="hidePreview"></p-inputSwitch>
          <span class="span-position">{{ model.hidePreview ? 'Sì': 'No' }}</span>
        </li>
      </ul>
    </div>
    <div class="p-grid button-wrapper">
        <button pButton class="button-styles" label="Salva" (click)="saveSettings()"></button>
        <button pButton class="button-styles button-margin-left" label="Annulla" (click)="onClose()"></button>
    </div>
  </form>
</section>