<div class="p-grid p-align-stretch vertical-container">
  <div class="p-col-4">
    <p-card styleClass="card-class">
        <img class="img-circle user-img" src="assets/images/user-default.png" alt="Foto utente"/>
        <strong class="user-label">{{ profilo.nome }} {{ profilo.cognome }}</strong>
        <!-- <p style="text-align: center"></p> -->
    </p-card>
  </div>
  <div class="p-col-8">
    <p-card header="Informazioni personali" styleClass="card-class">
      <div style="display: flex">
        <div class="p-col-6 d-inline">
            <div class="p-col-4 d-inline" style="font-weight: bold">Nome: </div><div class="p-col-8  d-inline" >{{ profilo.nome }}</div>
            <div class="p-col-4 d-inline" style="font-weight: bold">Email: </div><div class="p-col-8  d-inline" >{{ profilo.email }}</div>
            <div class="p-col-4 d-inline" style="font-weight: bold">Aziende: </div><div class="p-col-8  d-inline" >{{ profilo.aziende.join(", ") }}</div>
            <div style="display: flex">
              <div class="p-col-4 d-inline" style="font-weight: bold">Ruoli: </div>
              <div class="d-inline" style="padding: 0.5em">
                <span *ngFor="let ruolo of profilo.ruoli">
                  {{ ruolo }} <br>
                </span>
              </div>
            </div>
        </div>
        <div class="p-col-6 d-inline">
            <div class="p-col-4 d-inline" style="font-weight: bold">Cognome: </div><div class="p-col-8  d-inline" >{{ profilo.cognome }}</div>
            <div class="p-col-4 d-inline" style="font-weight: bold">Telefono: </div><div class="p-col-8  d-inline" >{{ profilo.telefono }}</div>
        </div>
      </div>
    </p-card>
  </div>
</div>