:host {
    height: 100%;
}
.attivita-wrapper {
    height: 100%;
    width: 100%;
}
.table-wrapper {
    flex: 1 1 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    table-layout: fixed;

}
.table-inner {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    table-layout: fixed;
}
::ng-deep .modal .p-dialog-mask .p-dialog {
  height: 70%;
  width: 70%;
}
.headerEspansione {
  width: 40px;
  height: 40px;
}

button.viewAnnullamento {
  width: 17px;
  height: 20px;
}

.cellaEspansione {
  width: 40px;
  height: 40px;
}


.table-wrapperDialog {
  flex: 1 1 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  table-layout: fixed;

}
.table-innerDialog {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  table-layout: fixed;
}
.tableAnnullamento{
  width:100%;
}
.content-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.gridcell {
    max-width: fit-content;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tr{
    max-width: 10;
}

.td
{
 max-width: fit-content;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

.p-table {
    width:100%;
}


.option-bar{
display: flex;
justify-content: space-between;
margin-bottom: 15px;
margin-top: 0px;
/*
position: sticky !important;
left: 0;
right: 0;
*/
}
  
.separator-class {
width: 0;
border-right: 1px solid #c8c8c8;
margin: auto 8px auto 2px;
height: 80%;
display: inline;
}
 
.radioB {
  width: 15px;
  height: 15px;
}
.cellaAnnullamento {
  height:50px;
  width:225px;
}

.headerAnnullamento {
  height: 37px;
  width:225px;
}

.rigaAnnullamento {
  height:37px;
  width: 1000px;
}



.motivazione {
  width:250px;
  height:150px;
}

.invio {
  width:100px;
  height: 30px;
}

  
/* BUTTON STYLES */
.buttons-bar{
display: flex;
flex-direction: row;
}
.buttons-bar > button{
margin: 0 6px 0 0;
}

.icon-custom {
padding-left: 5px;
padding-top: 2.5px;
width: 34.1px;
}

.images-pos {
position: absolute;
top: 15%;
left: 15%;
width: 21px;
}
  
:host >>> .icon-style > span:first-child {
font-size: 1.7em;
}
:host >>> .icon-style > img:first-child {
fill: #333333 !important;
}
  
  :host >>> .ui-button.ui-state-default.ui-button-secondary:enabled:focus, body .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default:enabled:focus {
    box-shadow: 0 0 0 1px #9E9E9E;
  }
  :host >>> .ui-button.ui-state-default.ui-button-secondary, body .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default {
    border: 1px solid #d2d2d2;
  }

  :host>>> .ui-table,
  :host>>> .ui-table-scrollable-wrapper,
  :host>>> .ui-table-scrollable-view{
    height: 100%;
    width: 100%;
  }
  :host>>> .ui-table-scrollable-view{
    display: flex;

  }
  :host>>> .ui-table-scrollable-body{
    flex: 1;
  }
  /* .preview-wrapper{
    flex: 1;
    position: relative;
  } */
  .pr-8{
   padding-right: 8px;
  }
  .preview-inner{
    display: flex;
    position: relative;
    flex-grow: 1;
    justify-content: left;
    align-items: left;
    overflow-y: auto;
  }
  .overlap-div {
    position: absolute;
    top: 0;
    bottom: 15px;
    left: 0;
    right: 15px;
    z-index: 100;
  }
  .preview-inner > iframe{
    height: 100%;
    width: 100%;
    z-index: 99;
  }
  .ul-info-doc{
    list-style: none;
  }
  .li-description{
    font-weight: bold;
  }
  
  .div-info-doc {
    /* display: flex;
    justify-content: space-between; */
    margin-bottom: 15px;
    margin-bottom: 15px;
    max-height: 12vh;
    overflow: auto;
    word-break: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
  }
  .px-16{
    padding: 0 16px;
  }
  .span-info-doc {
    margin-left: 30px;
  }
  
  .width100x100 {
    width: 100% !important;
  }
  
  .mt16 {
    margin-top: 16px;
  }
  
  .ui-fluid .ui-dropdown {
    width: 600px !important;
  }
  
  .no-anteprima {
    font-weight: bold;
    text-align: left;
  }
  
  .text-centered {
    text-align: left;
  }
  
  .p-right-0{
    padding-right: 0;
  }
  .p-left-0{
    padding-left: 0;
  }
  .d-hidden{
    display: none !important;
  }
  .d-flex{
    display: flex;
  }
  .d-inline{
    display: inline;
  }
  
  .flex-grow-1{
    flex-grow: 1;
  }
  .overflow-y-a{
    overflow-y: auto;
  }
  
  .row {
    display: flex;
  }
  
  .column {
    flex: 100%;
  }
  
  ::ng-deep .ui-tooltip {
    max-width: 20.5em;
  }
  
  .crono-label {
    /* top: 0;
    left: 45.5%;
    position: absolute; */
    margin: auto;
  }
  
  button {
    margin: 0 6px 0 0;
    border: 1px solid #d2d2d2 !important;
    color: #333333 !important;
    background-color: #f4f4f4 !important;
  }
  p-calendar {
    min-width:      146px;
  }

  .expand-button {
    border: none !important;
    background-color: #f4f4f4 !important;
  }

  .underline-state {
    text-underline-position: under;
  }