<div class="p-grid p-nogutter page-wrapper">
  <!-- HEADER -->
  <prp-header
    class="p-col-12 ui-g-nopad custom-header"
    [addToRight]="headerTemplate"
    appName="Babel Internauta"
    logoPath="assets/images/logo.png"
  >
  </prp-header>
  <ng-template #headerTemplate>
    <header-features
      [params]="headerFeaturesConfig"
      [addToMenu]="addToMenu"
    >
    </header-features>
  </ng-template>

  <!-- CONTENT -->
  <div class="content-wrapper ui-fluid" [ngClass]="{ 'spazio-menu-drawer': isSoloPec }">
    @if (isSoloPec) { 
      <div class="menu-drawer">
        <button
          type="button"
          pButton
          icon="pi pi-bars"
          label="Menu"
          class="p-button-outlined"
          (click)="drawerVisible = true"
        ></button>

        <p-drawer
          [(visible)]="drawerVisible"
          position="left"
          [modal]="true"
          [blockScroll]="true"
        >
          <div class="solo-pec-links">
            <button pButton class="p-button-text w-full" routerLink="/attivita" (click)="drawerVisible = false">
              Attività
            </button>
            <button pButton class="p-button-text w-full" routerLink="/shpeck" (click)="drawerVisible = false">
              Pec
            </button>
            <button pButton class="p-button-text w-full" routerLink="/rubrica" (click)="drawerVisible = false">
              Rubrica
            </button>
          </div>
        </p-drawer>
      </div>
    }
    <router-outlet></router-outlet>
  </div>
</div>

