* {
    font-family: "Open Sans", "Helvetica Neue", sans-serif !important;
}
.width100x100 .ui-dropdown{
    width: 100% !important;
}
.mt16{
    margin-top: 16px;
}
.custom-header{
    background-color: #993366;
    margin-bottom: 30px;
}
.margin0{
    margin: 0;
}
.content-wrapper{
    padding: 0 30px;
    width: 100%;
}

/* :host>>>.ui-state-highlight{
    background-color: GoldenRod !important;
    color: black !important;
} */

/*
:host>>>.row-class{
    height: 60px;
    cursor: default !important;
}
*/

>>> body .ui-table .ui-table-tbody > tr.ui-state-highlight {
    /* background-color: #f68b20; */
    background-color: rgb(255, 192, 87);
    color: black;
}

>>> body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
    /* background-color: #f68b20; */
    background-color: rgb(255, 192, 87);
    color: black;
}