.width100x100 .ui-dropdown {
  width: 100% !important;
}

.mt16 {
  margin-top: 1rem;
}

.page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.custom-header {
  background-color: #993366;
  //position: fixed;
  z-index: 2;
}

.margin0 {
  margin: 0;
}

.content-wrapper {
  //padding: 1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content-wrapper {
  position: relative;
  .menu-drawer {
    position: absolute; 
    top: 0; 
    left: 0;
    button {
      margin: 1rem;
    }
  }
}
::ng-deep .spazio-menu-drawer {
  app-scrivania .option-bar,
  app-mailbox app-toolbar,
  rubrica rubrica-toolbar  {
    margin-left: 7rem;
  }
  
}