<p-toast
  key="clToast"
  styleClass="clToast"
></p-toast>
<p-toast
  key="errorToast"
  styleClass="errorToast"
  position="center"
></p-toast>

<p-table
  #dt
  [lazy]="true"
  (onLazyLoad)="handleEvent('onLazyLoad', $event)"
  [value]="attivita()"
  [columns]="doNotShowAziendaHeader(cols)"
  [paginator]="true"
  [rows]="LOADED_ROWS"
  [totalRecords]="totalRecords"
  selectionMode="single"
  (onRowSelect)="handleEvent('onRowSelect', $event)"
  [scrollable]="true"
  scrollHeight="flex"
  [loading]="loading"
  (keydown.arrowdown)="onKeydownHandlerArrowDown($event)"
  (keydown.arrowup)="onKeydownHandlerArrowUp($event)"
  [(contextMenuSelection)]="attivitaSelezionata"
  [contextMenu]="cm"
  stripedRows 
>
  <ng-template
    pTemplate="header"
    let-columns
  >
    <tr>
      <th
        *ngFor="let col of columns"
        tabindex="0"
        [id]="col.field || col.label"
        [style.display]="col.display"
        [style.maxWidth]="col.width"
        [style.minWidth]="col.minWidth"
        [style.padding]="col.padding"
        attr.aria-label="Colonna {{ col.label }}, {{ col.header ? 'Ordinare colonna' : '' }}"
        [pSortableColumn]="col.field === 'azione' ? null : col.field"
        scope="colgroup"
      >
        {{ col.header }}
        <p-sortIcon
          *ngIf="col.field != undefined && col.field != 'azione' && col.field !== 'anteprima'"
          [field]="col.field"
          attr.aria-label="Ordinare colonna {{ col.label }}"
          arialabelasc="Ordinamento ascendente"
          arialabeldesc="Ordinamento discendente"
        >
          <!-- ariaLabelAsc="Colonna {{col.header}}, Ordinamento ascendente" ariaLabelDesc="Colonna {{col.header}}, Ordinamento discendente" -->
        </p-sortIcon>
      </th>
      <th
        *ngIf="hidePreview"
        aria-label="Colonna Apri Anteprima"
        style="max-width: 2rem; min-width: 2rem; width: 2rem"
      ></th>
    </tr>
    <tr>
      <th
        *ngFor="let col of columns"
        [ngSwitch]="col.filterWidget"
        class="filters-styles"
        [style.maxWidth]="col.width"
        [style.minWidth]="col.minWidth"
        [style.display]="col.display"
      >
        <div
          *ngIf="col.field != undefined && col.field !== 'azione' && col.field !== 'priorita' && col.field !== 'anteprima'"
          style="width: 100%"
        >
          <p-datepicker
            #calGen
            *ngSwitchCase="'Calendar'"
            [(ngModel)]="dataRange[col.field]"
            placeholder="Scegli..."
            [showButtonBar]="true"
            
            [showIcon]="false"
            dateFormat="dd/mm/yy"
            (onSelect)="onCalendarAction($event, col.field, 'select')"
            (onClearClick)="onCalendarAction($event, col.field, 'clear')"
            (onTodayClick)="onCalendarAction($event, col.field, 'today')"
            appendTo="body"
            selectionMode="range"
            [readonlyInput]="true"
            [pTooltip]="calendarTooltip(col.field)"
            inputId="CalInput_{{ col.field }}"
          >
          </p-datepicker>
          <input
            *ngSwitchDefault
            pInputText
            attr.aria-label="Cella filtro per colonna {{ col.label }}"
            type="text"
            (input)="dt.filter($event.target['value'].trim(), col.field, col.filterMatchMode)"
            #filterInputText
          />
        </div>
      </th>
      <th
        *ngIf="hidePreview"
        aria-label="Colonna Apri Anteprima"
        style="max-width: 2rem; min-width: 2rem; width: 2rem"
      ></th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-rowData
    let-attivita
  >
    <tr
      #tableRows
      class="row-class"
      [pSelectableRow]="rowData"
      [pContextMenuRow]="rowData"
      aria-label="riga"
    >
      <!-- style="height:" -->
       <!-- [style.maxWidth]="cols[0].width"
        [style.minWidth]="cols[0].minWidth" -->
      <td
        aria-label="Colonna tipo attività"
        [style.maxWidth]="'4rem'"
        [style.minWidth]="'4rem'"
        [ngClass]="[columnClass, 'p0']"
        class="!text-center"
      >
      <!-- <p-button icon="pi pi-check" /> -->
        <div class="icon-box">
          <p-button *ngIf="attivita.tipo !== 'notifica' && attivita.tipo !== 'riepilogo'"
            role="button"
            [rounded]="true" 
            [text]="true"
            icon="pi pi-flag-fill"
            class="icona-riga-attivita"
            pTooltip="Imposta priorità"
            ariaLabel="Imposta priorità"
            (click)="impostaPriorita(attivita, $event)"
            [severity]="attivita.priorita === 3 ? 'success' : attivita.priorita === 2 ? 'warn' : 'danger'"
          ></p-button>

          <i *ngIf="attivita.tipo === 'notifica' || attivita.tipo === 'riepilogo'"
            class="pi pi-bell icona-riga-attivita" 
            pTooltip="Notifica">
          </i>
        </div>
      </td>
      <td
        aria-label="Colonna Ente"
        *ngIf="
          (((!!this.loggedUser.getUtente().utenteReale || this.loggedUser.isSD()) &&
            this.loggedUser.getUtente().aziende.length > 1) ||
            (!!!this.loggedUser.getUtente().utenteReale && this.loggedUser.getUtente().aziendeAttive.length > 1)) &&
          !changedOrder
        "
        headers="idAzienda.nome"
        [style.maxWidth]="cols[1].width"
        [style.minWidth]="cols[1].minWidth"
        [ngClass]="columnClass"
        [ngStyle]="!attivita.aperta ? { 'font-weight': 'bold' } : {}"
      >
        {{ getColumnValue(attivita, cols[1]) }}
      </td>
      <td
        aria-label="Colonna Ente"
        *ngIf="changedOrder"
        headers="idAzienda.nome"
        [style.maxWidth]="cols[1].width"
        [style.minWidth]="cols[1].minWidth"
        [ngClass]="columnClass"
        [ngStyle]="!attivita.aperta ? { 'font-weight': 'bold' } : {}"
      >
        {{ getColumnValue(attivita, cols[1]) }}
      </td>
      <td
        aria-label="Colonna Applicazione"
        headers="idApplicazione.nome"
        [style.maxWidth]="cols[2].width"
        [style.minWidth]="cols[2].minWidth"
        [ngClass]="columnClass"
        [ngStyle]="!attivita.aperta ? { 'font-weight': 'bold' } : {}"
      >
        {{ getColumnValue(attivita, cols[2]) }}
      </td>
      <td
        aria-label="Colonna provenienza"
        headers="provenienza"
        [id]="attivita.id"
        #td3
        [style.maxWidth]="cols[3].width"
        [style.minWidth]="cols[3].minWidth"
        [ngClass]="columnClass"
        [ngStyle]="!attivita.aperta ? { 'font-weight': 'bold' } : {}"
      >
        {{ getColumnValue(attivita, cols[3], td3) }}
      </td>
      <td
        aria-label="Colonna oggetto"
        headers="oggetto"
        [style.minWidth]="cols[4].minWidth"
        [ngClass]="columnClass"
        [ngStyle]="!attivita.aperta ? { 'font-weight': 'bold' } : {}"
      >
        {{ getColumnValue(attivita, cols[4]) }}
      </td>
      <td
        aria-label="Colonna Data"
        *ngIf="!changedOrder"
        headers="data"
        [style.maxWidth]="cols[5].width"
        [style.minWidth]="cols[5].minWidth"
        [ngClass]="columnClass"
        [ngStyle]="!attivita.aperta ? { 'font-weight': 'bold' } : {}"
      >
        {{ getColumnValue(attivita, cols[5]) }}
      </td>
      <td
        aria-label="Colonna Data"
        *ngIf="
          (((!!this.loggedUser.getUtente().utenteReale || this.loggedUser.isSD()) &&
            this.loggedUser.getUtente().aziende.length > 1) ||
            (!!!this.loggedUser.getUtente().utenteReale && this.loggedUser.getUtente().aziendeAttive.length > 1)) &&
          changedOrder
        "
        headers="data"
        [style.maxWidth]="cols[5].width"
        [style.minWidth]="cols[5].minWidth"
        [ngClass]="columnClass"
        [ngStyle]="!attivita.aperta ? { 'font-weight': 'bold' } : {}"
      >
        {{ getColumnValue(attivita, cols[5]) }}
      </td>
      <td
        aria-label="Colonna Tipo"
        headers="descrizione"
        [style.maxWidth]="cols[6].width"
        [style.minWidth]="cols[6].minWidth"
        [ngClass]="columnClass"
        [ngStyle]="!attivita.aperta ? { 'font-weight': 'bold' } : {}"
      >
        {{ getColumnValue(attivita, cols[6]) }}
      </td>
      <td
        aria-label="Colonna Azione"
        class="colonna-azione"
        headers="azione"
        [id]="attivita.id"
        [style.maxWidth]="cols[7].width"
        [style.minWidth]="cols[7].minWidth"
        [style.justifyContent]="'center'"
        [ngStyle]="!attivita.aperta ? { 'font-weight': 'bold' } : {}"
        [ngClass]="{ disabled: isAzioneDisabled(attivita.id) }"
        (dblclick)="$event.preventDefault(); $event.stopPropagation()"
      >
        @if (canShowAzione(attivita)) {
          <a
            style="color: #993366; cursor: pointer"
            role="button"
            tabindex="0"
            aria-label="Apri azione"
            (mousedown)="onAzioneMouseDown(attivita, $event)"
          >
            <strong>{{ getAzioneLabel(attivita) }}</strong>
          </a>
        }
      </td>
      <td
        aria-label="Colonna check procedibilità"
        [style.maxWidth]="cols[8].width"
        [style.minWidth]="cols[8].minWidth"
        class="p0"
      >
        <i *ngIf="attivita.datiAggiuntivi?.custom_app_3 === '0'"
          class="pi pi-ban icona-riga-attivita" 
          pTooltip="Sul documento mancano alcuni dati che devono essere inseriti prima di poter procedere.">
        </i>
        <!-- <img
          tabindex="0"
          *ngIf="attivita.datiAggiuntivi?.custom_app_3 === '0'"
          src="assets/images/baseline-not_interested-24px.svg"
          alt="Sul documento mancano alcuni dati che devono essere inseriti prima di poter procedere."
          class="img-table"
          pTooltip="Sul documento mancano alcuni dati che devono essere inseriti prima di poter procedere."
        /> -->
      </td>
      <td
        aria-label="Colonna elimina notifica"
        [style.maxWidth]="cols[9].width"
        [style.minWidth]="cols[9].minWidth"
        class="p0 columns-icon"
      >
        @if (attivita.tipo === 'notifica' || attivita.tipo === 'riepilogo') {
          <i 
            role="button"
            tabindex="0"
            class="pi pi-trash icona-riga-attivita bds-icon-btn"
            pTooltip="Elimina notifica "
            aria-label="icona elimina"
            (click)="deleteAttivita($event, rowData)"
          ></i>
        }
        @else if (this.loggedUser.isSD()) {
          <i
            role="button"
            tabindex="0"
            class="pi pi-times icona-riga-attivita bds-icon-btn"
            pTooltip="Elimina attivita"
            aria-label="icona elimina"
            (click)="confermaEliminaAttivita(rowData, $event)"
          ></i>
        }
      </td>
      <td
        aria-label="Colonna note"
        [style.maxWidth]="cols[10].width"
        [style.minWidth]="cols[10].minWidth"
        class="p0"
      >
        <i *ngIf="attivita.note"
          role="button"
          tabindex="0"
          class="pi pi-file-check icona-riga-attivita bds-icon-btn bds-button"
          pTooltip="Leggi note"
          aria-label="Leggi note"
          (click)="noteClicckato(attivita, $event)"
        ></i>
        <i *ngIf="!attivita.note"
          role="button"
          tabindex="0"
          class="pi pi-file-plus icona-riga-attivita bds-icon-btn bds-button"
          pTooltip="Leggi note"
          aria-label="Leggi note"
          (click)="noteClicckato(attivita, $event)"
        ></i>
        <!-- <img
          tabindex="0"
          *ngIf="attivita.note"
          src="assets/images/baseline-note-24px.svg"
          style="transform: rotate(90deg) scaleX(-1)"
          (click)="noteClicckato(attivita, $event)"
          alt="Leggi note"
          role="button"
          class="img-table"
          pTooltip="Leggi note"
        />
        <img
          tabindex="0"
          *ngIf="!attivita.note"
          src="assets/images/outline-note_add-24px.svg"
          (click)="noteClicckato(attivita, $event)"
          alt="Inserisci note"
          role="button"
          class="img-table"
          pTooltip="Inserisci note"
        /> -->
      </td>
      <td
        *ngIf="hidePreview"
        aria-label="Colonna Apri Anteprima"
        headers="anteprima"
        style="max-width: 2rem; min-width: 2rem; width: 2rem"
        [style.opacity]="!attivita.allegatoDaMostrare ? 0 : 100"
        [style.cursor]="!attivita.allegatoDaMostrare ? 'auto' : 'pointer'"
        class="p0 columns-icon"
        [ngClass]="{
          'td-pos-relative':
            attivita.antePrimaNonDisponibile && (attivita.descrizione === 'Redazione' || attivita.descrizione === 'Bozza')
        }"
      >
        <img
          tabindex="0"
          *ngIf="attivita.allegatoDaMostrare && attivita.descrizione !== 'Redazione' && attivita.descrizione !== 'Bozza'"
          src="assets/images/pdf-file.svg"
          style="cursor: pointer; width: 1.375rem; height: 1.375rem"
          (click)="onClickSuApriAnteprima(attivita, $event)"
          alt="Apri stampa unica in una nuova finestra"
          role="button"
          class="img-table"
          pTooltip="Apri stampa unica in una nuova finestra"
        />

        <!-- <img tabindex="0" *ngIf="attivita.antePrimaNonDisponibile && (attivita.descrizione === 'Redazione' || attivita.descrizione === 'Bozza')" src="assets/images/baseline-not_interested-24px.svg"
    style="cursor: auto; width: ; height: ;" (click)="onClickSuApriAnteprima(attivita, $event)"
    alt="Anteprima non disponibile" role="img" class="img-table" pTooltip="Anteprima non disponibile"> -->

        <div
          *ngIf="attivita.antePrimaNonDisponibile && (attivita.descrizione === 'Redazione' || attivita.descrizione === 'Bozza')"
          class="anteprima-non-disponibile"
          alt="Anteprima non disponibile"
          pTooltip="Anteprima non disponibile"
        ></div>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-contextMenu
  #cm
  [model]="attivitaSelezionata?.aperta ? contextMenuAperte : contextMenuNonAperte"
  [ngClass]="'clContextMenu'"
  [style]="{ margin: '-8.125rem 0 0 -1.875rem' }"
></p-contextMenu>

<!-- ****  LE NOTE  **** -->
<p-dialog
  *ngIf="this.showNote && this.attivitaTemp"
  styleClass="dialogNote"
  #noteAttivita
  header="Note Attività"
  [(visible)]="this.showNote"
  [modal]="true"
  
  [minY]="70"
  [maximizable]="true"
  appendTo="body"
>
  <textarea
    tabindex="0"
    pInputTextarea
    class="note"
    placeholder="Inserisci note"
    [(ngModel)]="this.attivitaTemp.note"
  ></textarea>
  <ng-template #footer >
    <button
      tabindex="0"
      style="width: auto; min-width: 3.125rem"
      type="button"
      pButton
      icon="pi pi-check"
      label="Conferma"
      (click)="bottoneSalvaNote()"
      pTooltip="Salva"
      tooltipPosition="bottom"
      appendTo="body"
    ></button>
    <button
      tabindex="0"
      style="width: auto; min-width: 3.125rem"
      type="button"
      pButton
      icon="pi pi-times"
      label="Annulla"
      (click)="chiudiNote()"
      pTooltip="Chiudi"
      tooltipPosition="bottom"
      appendTo="body"
    ></button>
  </ng-template>
</p-dialog>
<!-- richiesta di conferma di chiusura senza salvare  -->
<p-confirmDialog
  #confermaUscita
  appendTo="body"
  header="Esci"
  icon="pi pi-exclamation-triangle"
  width="425"
  key="closeWithoutSaving"
>
  <ng-template #footer let-onAccept="onAccept" let-onReject="onReject">
    <button
      type="button"
      pButton
      icon=""
      label="Si"
      (click)="onAccept()"
    ></button>
    <button
      type="button"
      pButton
      icon=""
      label="No"
      (click)="onReject()"
    ></button>
  </ng-template>
</p-confirmDialog>

<p-confirmDialog
  #confermaSalvataggio
  appendTo="body"
  header="Salva"
  icon="pi pi-exclamation-triangle"
  width="425"
  key="saveNotes"
>
  <ng-template #footer let-onAccept="onAccept" let-onReject="onReject">
    <button
      type="button"
      pButton
      icon=""
      label="Si"
      (click)="onAccept()"
    ></button>
    <button
      type="button"
      pButton
      icon=""
      label="No"
      (click)="onReject()"
    ></button>
  </ng-template>
</p-confirmDialog>

<p-toast key="attivitaToast"></p-toast>
<p-confirmpopup key="confirm-popup"></p-confirmpopup>
