<modal id="dettaglioStato">
    <h1>Sezione annullamento</h1>
      <form action="inviaAnnullamento()">
        <p>
          Stato documento:
          <input type="radio" id="attivo" name="stato" value="ATTIVO">
          <label for="attivo">Attiva</label><br>
          <input type="radio" id="annullato" name="stato" value="ANNULLATO">
          <label for="annullato">Annulla</label><br>
        </p>
  
        <p>
          Motivazione:
          <input type="text" id="motivazione" name="motivazione">
        </p>
  
        <input type="submit" id="submit" name="subit" value="Invia">
      </form>
      

        <div class="table-wrapper">
            <div class="table-inner">
                <p-table #tableStorico [value]="storici" [scrollable]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th> Utente annullante </th>
                            <th> Motivazione </th>
                            <th> Stato </th>
                            <th> Data</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-storico>
                        <tr>
                            <td>{{storico.utente}}</td>
                            <td>{{storico.motivazione}}</td>
                            <td>{{storico.stato}}</td>
                            <td>{{storico.data}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </modal>