.ui-autocomplete-panel {
    z-index: 100000;
}

>>> body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
    color: white;
}

.button-wrapper {
    justify-content: center;
    padding-top: 10px;
}

.button-styles {
    width: 100px;
    margin: 10px;
}

.button-margin-left {
    margin-left: 100px;
}