<section>
  <form #form="ngForm">
    <div>
      <ul class="settings-items">
        <li class="item">
          <label for="hidePreview">Nascondi anteprima</label>
          <div class="right">
            <p-inputSwitch id="hidePreview" [(ngModel)]="model.hidePreview" styleClass="switch-class" name="hidePreview"></p-inputSwitch>
            <span class="si-no">{{ model.hidePreview ? 'Sì': 'No' }}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="p-grid button-wrapper">
        <button pButton class="button-styles" label="Salva" (click)="saveSettings()"></button>
        <button pButton class="button-styles button-margin-left" label="Annulla" (click)="onClose()"></button>
    </div>
  </form>
</section>