:host ::ng-deep .p-inplace .p-inplace-display{
    display: flex!important;
}
:host ::ng-deep .p-inplace .p-inplace-content {
    display: flex;
    .p-button.p-button-icon-only {
        width: 3.357rem;
    }
}
.settings-items {
    list-style: none;
    padding: 0.625rem;
    margin: 0;
    display: inline;
    .hide-preview-box {
        margin: 0.625rem;
        display: flex;
        justify-content: center;
        height: 2.813rem;
        .right {
            width: 11.25rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .switch-class {}
            .si-no {}
        }
    }
    .email-attivita-box {
        h4 {
            margin-bottom: 0.438rem;
        }
        .field-checkbox {
            margin-top: 0.438rem;
            label {
                margin-left: 0.188rem;
            }
        }
    }
}
.button-styles {
    width: 6.25rem;
    margin: 0.625rem;
}
.button-wrapper {
    position: absolute;
    bottom: 0.3rem;
    left: 21%;
}
.button-margin-left {
    margin-left: 4.375rem;
}
